<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <title>Test</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="https://smartservice.leanapp.cn">唤起应用，去相应页面</a>
    <br/>
    <a href="https://t.asczwa.com">唤起淘宝，微信中也可以哟</a>
    <br/>
    <a href="https://qr.alipay.com/c1x04934gb9nu0bshowwb91">唤起支付宝</a>
    <br/>
    <p/>
  </body>
</html>
