<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <title>Test</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="https://ddycservice.leanapp.cn/1">洗车</a>
    <a href="https://new-m.ddyc.com/">主客户端</a>
    <p/>
    <a href="https://ddycservice.leanapp.cn/2">保养</a>
    <p/>
    <a href="https://ddycservice.leanapp.cn/statements.json">安卓</a>
  </body>
</html>