<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <title>正在打开，请稍候……</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <script src="test.js"></script>
    <h1><%= title %></h1>
    <form action="/todos" method="POST">
      <input type="text" name="content" />
      <input type="submit" value="新增" />
    </form>
    <ul>
      <% for(var i=0; i<todos.length; i++) {%>
      <li><%= todos[i].get('content') %></li>
      <% } %>
    </ul>
  </body>
</html>
